@import url(https://fonts.googleapis.com/css2?family=Orbitron:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
@import './slide-theme.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
html {
  background-color: #08013C;
}
body {
  font-family: 'Open Sans', sans-serif;
  transition: background 0.6s linear;
}

.container {
  margin: 0 auto;
  min-height: 85vh;
}

/** ---------------------- Profile ---------------------- */
.container .profile {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .profile > img {
  width: 120px;
  border: 3px solid #9e6803;
  box-shadow: 0 0 3px #eca011;
  padding: 7px;
  border-radius: 100%;
  animation: floating 2s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-8px);
  }
  100% {
    transform: translatey(0px);
  }
}

.container .profile .title {
  width: 230px;
  margin-top: 20px;
}
.container .profile .title img {
  width: 100%;
}

.container .profile h3,
.container .send_email .email_box h2 {
  font-weight: 600;
  background: linear-gradient(121.57deg, #a83947 20.77%, #f7b93e 90.15%);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-text-fill-color: transparent;
}
.container .social-links {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.container .social-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  width: 600px;
}
.container .social-links ul li {
  border: #00054b 2px solid;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  width: 100%;
  color: #7c7c7c;
  transition: all 0.6s ease;
  overflow: hidden;
}
.container .social-links ul li:hover {
  background-color: #01031b;
  border: 2px solid #ffa600;
  color: #ffa600;
}
.container .social-links ul li span {
  font-size: 14px;
  margin-left: 10px;
}

.container .social-links ul li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.container .social-links ul li a:hover {
  text-shadow: 0 0 15px #00054b;
}
.container .social-links ul li:last-child {
  padding: 8px;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  font-size: 14px;
  color: #7c7c7c;
  border-top: 1px solid #040023;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}
.footer a {
  color: #ffa600;
  text-decoration: none;
}

.send_email {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #00000070;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s ease;
}

.send_email .email_box {
  width: 500px;
  min-height: 300px;
  background-color: #08013C;
  box-shadow: 0 0 15px #00000124;
  border-radius: 10px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.send_email .email_box .divisor {
  width: 200px;
  height: 3px;
  background: linear-gradient(121.57deg, #a83947 20.77%, #f7b93e 150.15%);
  border-radius: 3px;
  margin: 10px 0;
}

.send_email .email_box span {
  font-size: 14px;
  color: #7c7c7c;
}

.send_email .email_box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.send_email .email_box form input {
  height: 32px;
}

.send_email .email_box form input,
.send_email .email_box form textarea {
  padding: 5px 10px;
  border: #00054b 2px solid;
  background-color: #040023;
  color: #fff;
  border-radius: 8px;
  width: 100%;
}

.send_email .email_box form input::placeholder,
.send_email .email_box form textarea::placeholder {
  color: #7c7c7c;
}

.send_email .email_box form .btn_submit {
  padding: 7px 20px;
  border-radius: 5px;
  background-color: #f18c27;
  cursor: pointer;
  border: 2px solid #f18c27;
  transition: all 0.2s ease-in-out;
  width: 200px;
}
  
.send_email .email_box form textarea {
  resize: none;
  font-family: "Open Sans", sans-serif;
}

/*------------------------------------Change mode blue effect-----------------------------------------*/
.white {
  background-color: #fff;
}

.white .profile h1 {
  color: #3419ce;
}

/** ---------------------- Show email form ---------------------- */
.isVisible {
  visibility: visible;
  opacity: 1;
}

/*------------------------------------Media query-----------------------------------------*/
@media (max-width: 1150px) and (min-width: 1025px) {
  .container .content .banner img {
    width: 400px;
  }
}

@media (max-width: 1024px) and (min-width: 940px) {
  .container .content .banner img {
    width: 340px;
  }
}

@media (max-width: 939px) and (min-width: 820px) {
  .container .content .banner img {
    width: 300px;
  }
  .container .content .banner .matricula {
    font-size: 15px;
    width: 80%;
  }
}

@media (max-width: 440px) {
  .container .profile .span-title {
    font-size: 15px;
  }
}

@media (max-width: 820px) and (min-width: 410px) {
  .container .content .banner img {
      width: 260px;
    }
}

@media screen and (max-width: 820px) {
  .container {
    margin-bottom: 20%;
  }
}

@media (max-width: 520px) {
  .container .send_email .email_box {
    width: 100%;
    border-radius: 0;
    padding: 15px 5px;
  }
}

@media (max-width: 820px) and (min-width: 320px) {
  label {
    width: 50px;
    font-size: 10px;
  }

  .container .social-links {
    width: 90%;
    margin: 25px auto;
  }
  .container .social-links ul li img {
    width: 35px;
  }
  .container .content .banner img {
    width: 210px;
  }
  .container .content .banner .matricula {
    font-size: 15px;
    width: 90%;
  }
  .container .content .banner .matricula button {
    width: 260px;
    font-size: 17px;
  }
  .container .links-list li a span {
    font-size: 10px;
  }
  .footer {
    font-size: 10px;
  }
}
